In [2]:
import pandas as pd

# Scheduling Metrics

In [4]:
data = pd.read_csv("C:/Users/btjoa/OneDrive/Desktop/Babson/Grad/Field Project/Data/Initial Drop/Store Business and Scheduling Metrics 2.csv")

In [5]:
data.head(5)
data.shape

(16469, 22)

In [6]:
data.isnull().values.any()

False

In [7]:
#Ask how they think it should be done
data = data[data["Fcst Sales"]> 0]
data.shape

(16469, 22)

In [8]:
data = data[data["Act Items"]> 0]
data = data[data["Act Sales"]> 0]
data.head()

,Str Id,Dist Id,Week No,Week Start Date,Fcst Sales,Fcst Txns,Fcst Items,Fcst Hrs,Fcst Labor Cost,Sched Hrs,...,Act Txns,Act Items,Act Hrs,Act Labor Cost,Sched Shifts SYS,Sched Efficiency SYS,Sched Shifts MGR,Sched Efficiency MGR,Sched Edits,Average Efficiency
0,S33688,D864,48,11/22/2020,827,56,857,159.30,2752,79.36,...,93,130,41.55,1071,9,0.56,9,0.56,0,0.56
1,S33688,D864,47,11/15/2020,1121,86,956,179.72,3104,96.28,...,116,457,50.92,1071,12,0.67,12,0.67,0,0.67
2,S33688,D864,37,9/6/2020,3016,51,1274,133.60,2320,96.28,...,59,59,30.56,1198,12,0.70,12,0.70,0,0.70
3,S33688,D864,46,11/8/2020,3130,91,1105,179.72,3104,96.28,...,124,227,39.96,1192,12,0.66,12,0.66,0,0.66
4,S33688,D864,41,10/4/2020,3148,91,1160,134.12,2317,96.28,...,60,63,60.66,1183,12,0.65,12,0.65,0,0.65

In [9]:
data = data[data["Fcst Hrs"]> 0]
data.shape

(16469, 22)

In [10]:
data = data[data["Act Txns"]>0]

In [11]:
data["Average Efficiency"] = (data["Sched Efficiency MGR"] + data["Sched Efficiency SYS"])/2

In [9]:
data.head()

,Str Id,Dist Id,Week No,Week Start Date,Fcst Sales,Fcst Txns,Fcst Items,Fcst Hrs,Fcst Labor Cost,Sched Hrs,...,Act Txns,Act Items,Act Hrs,Act Labor Cost,Sched Shifts SYS,Sched Efficiency SYS,Sched Shifts MGR,Sched Efficiency MGR,Sched Edits,Average Efficiency
17,S33688,D864,44,10/25/2020,3223.0,86.0,1353.0,179.72,3104.0,96.28,...,30.0,42.0,46.48,1133.0,12.0,0.68,12.0,0.68,0.0,0.68
18,S33688,D864,37,9/6/2020,3016.0,51.0,1274.0,133.60,2320.0,96.28,...,59.0,59.0,30.56,1198.0,12.0,0.70,12.0,0.70,0.0,0.70
19,S33688,D864,41,10/4/2020,3148.0,91.0,1160.0,134.12,2317.0,96.28,...,60.0,63.0,60.66,1183.0,12.0,0.65,12.0,0.65,0.0,0.65
22,S33688,D864,36,8/30/2020,3166.0,98.0,1197.0,134.56,2336.0,76.44,...,79.0,86.0,52.46,1071.0,12.0,0.54,12.0,0.54,0.0,0.54
23,S33688,D864,42,10/11/2020,3162.0,92.0,1332.0,134.12,2317.0,96.28,...,61.0,93.0,51.58,1071.0,12.0,0.65,12.0,0.65,0.0,0.65

In [12]:
data.isnull().values.any()

False

- Items / labor cost
- Items per transaction
- Price per item 
- Sales / Labor Cost
- Sales per Labor Hour


- Sales per transaction


- Transactions / labor cost

In [ ]:
data["Labor Cost per Item"] = round(data["Act Labor Cost"]/data["Act Items"],2)
data["Labor Cost per Item"].head()

In [ ]:
data["Items per Txns"] = round(data["Act Items"]/data["Act Txns"], 2)
data["Items per Txns"].head()

In [ ]:
data["Price per Item"] = round(data["Act Sales"]/data["Act Items"], 2)
data["Price per Item"].head()

In [ ]:
data["Sales per Labor Cost"] = round(data["Act Sales"]/data["Act Labor Cost"], 2)
data["Sales per Labor Cost"].head()

In [ ]:
data["Sales per Labor Hours"] = round(data["Act Sales"]/data["Act Hrs"], 2)
data["Sales per Labor Hours"].head()

In [ ]:
data["Sales per Txns"] = round(data["Act Sales"]/data["Act Txns"], 2)
data["Sales per Txns"].head()

In [ ]:
data["Labor Cost per Txns"] = round(data["Act Labor Cost"]/data["Act Txns"], 2)
data["Labor Cost per Txns"].head()

In [14]:
data.to_csv(path_or_buf = "Store Business and Scheduling Metrics 2.csv", index = False)

Executions OnTime:Late Ratio = 
[Executions Completed  On-Time]/[Executions Completed  Late]
Efficiency MGR - SYS
[Sched Efficiency MGR]-[Sched Efficiency SYS]
Logons/Executions Completed Late
Logons/Executions Completed On Time
Logons/Executions Forced Closed
Logons/Executions Planned
[Logons]/[Sched Edits]

# Logons

In [14]:
logons = pd.read_csv("C:/Users/btjoa/OneDrive/Desktop/Babson/Grad/Field Project/Data/Initial Drop/logons.csv")
logons.shape

(16513, 3)

In [13]:
logons.isnull().values.any()

False

In [17]:
logons = logons[logons["Str Id"] != "S14292"]
logons.shape

(16505, 3)

In [ ]:
logons.to_csv(path_or_buf = "Logons 2.csv", index = False)

# Store Walks

In [ ]:
sw = pd.read_csv("C:/Users/btjoa/OneDrive/Desktop/Babson/Grad/Field Project/Data/Initial Drop/Store Walks.csv")
sw.shape

In [ ]:
sw.isnull().values.any()

In [ ]:
sw = sw[sw["Str Id"] != "S14292"]

In [ ]:
sw.shape #no rows were removed