# Executions (Shape change)

In [1]:
import pandas as pd
import numpy as np

In [42]:
exc = pd.read_csv("C:/Users/btjoa/OneDrive/Desktop/Babson/Grad/Field Project/Data/Initial Drop/Executions (reorganized).csv")

In [ ]:
exc.head()

In [ ]:
exc.isnull().values.any()

In [ ]:
exc.loc[lambda x: x["Week Start Date"] == "10/11/2020"]

We need to fix executions in order to merge the data sets without any errors. We're dividing up executions by the associated rows and columns.

## Info

In [ ]:
exc["Info Planned"] = exc.apply(lambda row: row["Executions Planned"] if row["Execution Type"] == "Info" else 0, axis = 1)

In [ ]:
exc["Info Completed On-Time"] = exc.apply(lambda row: row["Executions Completed  On-Time"] if row["Execution Type"] == "Info" else 0, axis = 1)

In [ ]:
exc["Info Completed Late"] = exc.apply(lambda row: row["Executions Completed  Late"] if row["Execution Type"] == "Info" else 0, axis = 1)

In [ ]:
exc["Info Forced Closed"] = exc.apply(lambda row: row["Executions Forced Closed"] if row["Execution Type"] == "Info" else 0, axis = 1)

In [ ]:
exc["Info open"] = exc.apply(lambda row: row["Executions Open"] if row["Execution Type"] == "Info" else 0, axis = 1)

## Store Project

In [ ]:
exc["Store Project Planned"] = exc.apply(lambda row: row["Executions Planned"] if row["Execution Type"] == "Store Project" else 0, axis = 1)

In [ ]:
exc["Store Project Completed On-Time"] = exc.apply(lambda row: row["Executions Completed  On-Time"] if row["Execution Type"] == "Store Project" else 0, axis = 1)

In [ ]:
exc["Store Project Completed Late"] = exc.apply(lambda row: row["Executions Completed  Late"] if row["Execution Type"] == "Store Project" else 0, axis = 1)

In [ ]:
exc["Store Project Forced Closed"] = exc.apply(lambda row: row["Executions Forced Closed"] if row["Execution Type"] == "Store Project" else 0, axis = 1)

In [ ]:
exc["Store Project open"] = exc.apply(lambda row: row["Executions Open"] if row["Execution Type"] == "Store Project" else 0, axis = 1)

## Weekly Project

In [ ]:
exc["Weekly Project Planned"] = exc.apply(lambda row: row["Executions Planned"] if row["Execution Type"] == "Weekly Project" else 0, axis = 1)

In [ ]:
exc["Weekly Project Completed On-Time"] = exc.apply(lambda row: row["Executions Completed  On-Time"] if row["Execution Type"] == "Weekly Project" else 0, axis = 1)

In [ ]:
exc["Weekly Project Completed Late"] = exc.apply(lambda row: row["Executions Completed  Late"] if row["Execution Type"] == "Weekly Project" else 0, axis = 1)

In [ ]:
exc["Weekly Project Forced Closed"] = exc.apply(lambda row: row["Executions Forced Closed"] if row["Execution Type"] == "Weekly Project" else 0, axis = 1)

In [ ]:
exc["Weekly Project open"] = exc.apply(lambda row: row["Executions Open"] if row["Execution Type"] == "Weekly Project" else 0, axis = 1)

## Making a Copy

In [ ]:
#Create a copy of exc with just Str Id, Week Start Date and the new columns
exc_copy = pd.DataFrame(exc.groupby(["Str Id", "Week Start Date"]).agg(np.sum))
exc_copy = exc_copy.reset_index()

In [ ]:
exc_copy.loc[lambda x: x["Week Start Date"] == "10/11/2020"]

In [ ]:
exc_copy = exc_copy.drop(["Executions Planned", "Executions Completed  On-Time", "Executions Completed  Late", "Executions Forced Closed", "Executions Open"], axis = 1)
exc_copy.head()

In [ ]:
#Writing into CSV
exc_copy.to_csv(path_or_buf = "Executions (reorganized).csv", index = False)

# Merging all datasets (excluding store walks)

In [105]:
met = pd.read_csv("C:/Users/btjoa/OneDrive/Desktop/Babson/Grad/Field Project/Data/Not Final Dataset/Metrics.csv")
log = pd.read_csv("C:/Users/btjoa/OneDrive/Desktop/Babson/Grad/Field Project/Data/Not Final Dataset/Logons.csv")
exc = pd.read_csv("C:/Users/btjoa/OneDrive/Desktop/Babson/Grad/Field Project/Data/Initial Drop/Executions (Reorganized).csv")
# walk = pd.read_csv("C:/Users/btjoa/OneDrive/Desktop/Babson/Grad/Field Project/Data/Initial Drop/Store Walks.csv")

In [82]:
#Checking the shapes of each dataset
print(met.shape)
print(log.shape)
print(exc.shape)

(16513, 21)
(16513, 3)
(16513, 17)

In [7]:
# set([1,2,3,4]).difference(set([1,2,3,5]))

{4}

In [27]:
# set([(exc["Str Id"][j], exc["Week Start Date"][j]) for j in range(len(exc))]).difference(set([(met["Str Id"][j], met["Week Start Date"][j]) for j in range(len(met))]))

{('S14292', '10/11/2020'),
 ('S14292', '10/18/2020'),
 ('S14292', '10/4/2020'),
 ('S14292', '8/30/2020'),
 ('S14292', '9/13/2020'),
 ('S14292', '9/20/2020'),
 ('S14292', '9/27/2020'),
 ('S14292', '9/6/2020'),
 ('S21450', '12/13/2020'),
 ('S33688', '9/20/2020'),
 ('S37083', '10/11/2020'),
 ('S37083', '10/18/2020'),
 ('S37083', '10/25/2020'),
 ('S37083', '10/4/2020'),
 ('S37083', '11/1/2020'),
 ('S37083', '11/15/2020'),
 ('S37083', '11/22/2020'),
 ('S37083', '11/29/2020'),
 ('S37083', '11/8/2020'),
 ('S37083', '12/13/2020'),
 ('S37083', '12/6/2020'),
 ('S48031', '11/8/2020'),
 ('S48661', '9/20/2020'),
 ('S57273', '10/11/2020'),
 ('S57273', '10/18/2020'),
 ('S57273', '10/25/2020'),
 ('S57273', '10/4/2020'),
 ('S57273', '11/1/2020'),
 ('S57273', '11/15/2020'),
 ('S57273', '11/22/2020'),
 ('S57273', '11/29/2020'),
 ('S57273', '11/8/2020'),
 ('S57273', '12/6/2020'),
 ('S57273', '9/20/2020'),
 ('S57273', '9/27/2020'),
 ('S57858', '12/6/2020'),
 ('S62100', '10/25/2020'),
 ('S67260', '10/11/2020'),
 ('S67260', '10/18/2020'),
 ('S67260', '10/25/2020'),
 ('S67260', '10/4/2020'),
 ('S67260', '11/1/2020'),
 ('S67260', '11/15/2020'),
 ('S67260', '11/22/2020'),
 ('S67260', '11/8/2020'),
 ('S67260', '9/13/2020'),
 ('S67260', '9/20/2020'),
 ('S67260', '9/27/2020'),
 ('S67260', '9/6/2020')}

In [75]:
# set([(met["Str Id"][j], met["Week Start Date"][j]) for j in range(len(met))]).difference(set([(exc["Str Id"][j], exc["Week Start Date"][j]) for j in range(len(exc))]))

{('S60117', 44087.0),
 ('S26673', 44136.0),
 ('S32671', 44129.0),
 ('S71350', 44108.0),
 ('S75956', 44080.0),
 ('S72118', 44136.0),
 ('S34726', 44115.0),
 ('S24076', 44073.0),
 ('S57926', 44080.0),
 ('S70334', 44150.0),
 ('S75535', 44171.0),
 ('S79765', 44087.0),
 ('S49247', 44108.0),
 ('S39467', 44115.0),
 ('S54555', 44157.0),
 ('S15447', 44122.0),
 ('S59446', 44073.0),
 ('S36388', 44136.0),
 ('S51417', 44115.0),
 ('S30946', 44157.0),
 ('S56999', 44108.0),
 ('S34094', 44101.0),
 ('S68443', 44073.0),
 ('S48617', 44129.0),
 ('S69825', 44178.0),
 ('S32894', 44115.0),
 ('S75439', 44164.0),
 ('S76720', 44143.0),
 ('S73082', 44157.0),
 ('S59590', 44087.0),
 ('S39285', 44164.0),
 ('S78523', 44108.0),
 ('S74958', 44136.0),
 ('S14267', 44143.0),
 ('S72358', 44143.0),
 ('S39150', 44080.0),
 ('S79349', 44073.0),
 ('S41050', 44108.0),
 ('S60627', 44087.0),
 ('S54297', 44171.0),
 ('S75001', 44115.0),
 ('S51010', 44150.0),
 ('S75378', 44108.0),
 ('S81072', 44122.0),
 ('S46443', 44087.0),
 ('S43436', 44080.0),
 ('S47384', 44122.0),
 ('S50311', 44115.0),
 ('S60581', 44087.0),
 ('S43857', 44129.0),
 ('S32428', 44157.0),
 ('S29803', 44080.0),
 ('S34603', 44164.0),
 ('S64080', 44108.0),
 ('S15602', 44080.0),
 ('S39974', 44178.0),
 ('S15295', 44094.0),
 ('S67139', 44178.0),
 ('S69509', 44143.0),
 ('S37166', 44178.0),
 ('S28563', 44129.0),
 ('S77430', 44136.0),
 ('S65717', 44094.0),
 ('S20054', 44101.0),
 ('S37501', 44150.0),
 ('S78618', 44157.0),
 ('S47462', 44178.0),
 ('S24104', 44087.0),
 ('S44914', 44143.0),
 ('S48213', 44157.0),
 ('S41005', 44073.0),
 ('S57046', 44136.0),
 ('S25754', 44108.0),
 ('S33610', 44108.0),
 ('S48121', 44164.0),
 ('S66086', 44087.0),
 ('S69749', 44143.0),
 ('S60281', 44157.0),
 ('S77876', 44101.0),
 ('S42768', 44129.0),
 ('S57076', 44094.0),
 ('S46781', 44157.0),
 ('S71778', 44094.0),
 ('S69853', 44094.0),
 ('S20746', 44171.0),
 ('S59232', 44150.0),
 ('S65230', 44080.0),
 ('S25964', 44122.0),
 ('S46139', 44143.0),
 ('S64622', 44122.0),
 ('S34726', 44164.0),
 ('S59170', 44171.0),
 ('S75956', 44129.0),
 ('S71821', 44108.0),
 ('S78640', 44080.0),
 ('S35912', 44073.0),
 ('S47938', 44150.0),
 ('S67781', 44073.0),
 ('S36685', 44101.0),
 ('S70921', 44157.0),
 ('S57106', 44108.0),
 ('S55694', 44073.0),
 ('S69542', 44129.0),
 ('S65866', 44164.0),
 ('S63304', 44136.0),
 ('S37324', 44171.0),
 ('S62322', 44164.0),
 ('S17155', 44150.0),
 ('S37921', 44122.0),
 ('S45210', 44129.0),
 ('S79106', 44122.0),
 ('S43242', 44101.0),
 ('S25261', 44129.0),
 ('S37713', 44115.0),
 ('S46842', 44073.0),
 ('S25574', 44129.0),
 ('S51612', 44129.0),
 ('S23564', 44108.0),
 ('S40514', 44136.0),
 ('S21267', 44129.0),
 ('S25009', 44171.0),
 ('S13578', 44171.0),
 ('S37083', 44150.0),
 ('S71275', 44178.0),
 ('S39001', 44143.0),
 ('S44264', 44136.0),
 ('S72970', 44122.0),
 ('S25414', 44150.0),
 ('S39987', 44136.0),
 ('S67260', 44150.0),
 ('S30557', 44122.0),
 ('S38430', 44108.0),
 ('S75327', 44178.0),
 ('S17853', 44080.0),
 ('S22411', 44101.0),
 ('S48768', 44080.0),
 ('S51994', 44136.0),
 ('S60616', 44150.0),
 ('S63150', 44073.0),
 ('S24745', 44122.0),
 ('S32172', 44157.0),
 ('S67480', 44101.0),
 ('S25499', 44094.0),
 ('S33509', 44129.0),
 ('S26355', 44178.0),
 ('S34030', 44122.0),
 ('S47179', 44101.0),
 ('S20566', 44171.0),
 ('S65341', 44094.0),
 ('S72214', 44164.0),
 ('S79063', 44073.0),
 ('S80089', 44122.0),
 ('S40803', 44087.0),
 ('S24904', 44122.0),
 ('S48994', 44136.0),
 ('S43787', 44073.0),
 ('S34158', 44080.0),
 ('S32652', 44073.0),
 ('S59389', 44094.0),
 ('S60267', 44164.0),
 ('S18463', 44143.0),
 ('S37602', 44171.0),
 ('S36925', 44164.0),
 ('S20909', 44080.0),
 ('S68384', 44178.0),
 ('S79421', 44080.0),
 ('S28381', 44150.0),
 ('S39176', 44087.0),
 ('S38923', 44178.0),
 ('S19648', 44178.0),
 ('S24090', 44136.0),
 ('S77474', 44101.0),
 ('S20988', 44157.0),
 ('S28256', 44122.0),
 ('S77876', 44150.0),
 ('S39268', 44094.0),
 ('S47069', 44101.0),
 ('S15612', 44094.0),
 ('S35507', 44108.0),
 ('S14719', 44178.0),
 ('S66109', 44073.0),
 ('S33402', 44101.0),
 ('S66858', 44143.0),
 ('S71072', 44157.0),
 ('S33640', 44171.0),
 ('S62486', 44101.0),
 ('S70621', 44129.0),
 ('S77950', 44080.0),
 ('S30827', 44080.0),
 ('S37647', 44164.0),
 ('S38125', 44150.0),
 ('S26673', 44171.0),
 ('S50928', 44164.0),
 ('S71350', 44143.0),
 ('S72118', 44171.0),
 ('S57926', 44115.0),
 ('S79765', 44122.0),
 ('S35366', 44101.0),
 ('S69603', 44094.0),
 ('S50265', 44143.0),
 ('S67781', 44122.0),
 ('S36685', 44150.0),
 ('S46156', 44087.0),
 ('S42888', 44122.0),
 ('S46888', 44136.0),
 ('S72925', 44136.0),
 ('S25286', 44094.0),
 ('S80757', 44108.0),
 ('S78483', 44073.0),
 ('S42130', 44101.0),
 ('S54225', 44136.0),
 ('S66660', 44073.0),
 ('S45858', 44080.0),
 ('S50134', 44108.0),
 ('S42327', 44143.0),
 ('S13699', 44101.0),
 ('S13666', 44143.0),
 ('S74656', 44164.0),
 ('S48153', 44087.0),
 ('S55969', 44094.0),
 ('S79909', 44087.0),
 ('S65748', 44150.0),
 ('S80145', 44094.0),
 ('S64517', 44080.0),
 ('S79349', 44108.0),
 ('S41050', 44143.0),
 ('S60627', 44122.0),
 ('S75001', 44150.0),
 ('S33046', 44164.0),
 ('S31951', 44101.0),
 ('S20832', 44094.0),
 ('S55380', 44178.0),
 ('S16980', 44073.0),
 ('S69617', 44171.0),
 ('S63150', 44122.0),
 ('S78854', 44108.0),
 ('S50311', 44150.0),
 ('S12524', 44073.0),
 ('S43857', 44164.0),
 ('S60581', 44122.0),
 ('S29803', 44115.0),
 ('S63016', 44143.0),
 ('S33509', 44178.0),
 ('S20443', 44150.0),
 ('S45932', 44073.0),
 ('S55485', 44143.0),
 ('S60043', 44157.0),
 ('S12346', 44178.0),
 ('S65230', 44101.0),
 ('S16900', 44073.0),
 ('S15602', 44115.0),
 ('S56545', 44178.0),
 ('S15295', 44129.0),
 ('S66765', 44143.0),
 ('S44234', 44087.0),
 ('S69509', 44178.0),
 ('S80689', 44087.0),
 ('S63677', 44143.0),
 ('S65717', 44129.0),
 ('S20054', 44136.0),
 ('S47761', 44157.0),
 ('S75116', 44129.0),
 ('S46727', 44101.0),
 ('S51946', 44164.0),
 ('S47929', 44073.0),
 ('S74058', 44101.0),
 ('S58557', 44122.0),
 ('S17370', 44094.0),
 ('S30962', 44129.0),
 ('S41005', 44108.0),
 ('S12634', 44108.0),
 ('S55241', 44171.0),
 ('S33610', 44143.0),
 ('S14339', 44122.0),
 ('S24657', 44136.0),
 ('S32581', 44094.0),
 ('S21555', 44122.0),
 ('S28076', 44129.0),
 ('S28256', 44171.0),
 ('S30213', 44171.0),
 ('S52198', 44178.0),
 ('S28092', 44157.0),
 ('S47069', 44150.0),
 ('S51000', 44150.0),
 ('S71778', 44129.0),
 ('S33085', 44080.0),
 ('S69733', 44080.0),
 ('S71117', 44108.0),
 ('S62066', 44115.0),
 ('S61845', 44122.0),
 ('S51721', 44150.0),
 ('S78453', 44122.0),
 ('S42960', 44094.0),
 ('S17818', 44129.0),
 ('S68560', 44101.0),
 ('S21108', 44157.0),
 ('S73885', 44080.0),
 ('S55939', 44164.0),
 ('S53925', 44164.0),
 ('S25046', 44080.0),
 ('S17861', 44080.0),
 ('S46156', 44136.0),
 ('S48031', 44101.0),
 ('S35935', 44073.0),
 ('S29818', 44087.0),
 ('S45210', 44164.0),
 ('S79106', 44157.0),
 ('S23725', 44073.0),
 ('S43242', 44136.0),
 ('S63536', 44136.0),
 ('S21240', 44164.0),
 ('S48506', 44073.0),
 ('S45858', 44129.0),
 ('S25574', 44164.0),
 ('S48904', 44073.0),
 ('S21318', 44080.0),
 ('S69208', 44108.0),
 ('S23564', 44143.0),
 ('S32957', 44087.0),
 ('S21267', 44164.0),
 ('S40514', 44171.0),
 ('S65089', 44080.0),
 ('S49195', 44129.0),
 ('S52682', 44108.0),
 ('S67316', 44157.0),
 ('S51822', 44150.0),
 ('S54387', 44157.0),
 ('S76695', 44101.0),
 ('S62642', 44150.0),
 ('S57439', 44122.0),
 ('S38430', 44143.0),
 ('S46185', 44087.0),
 ('S46831', 44080.0),
 ('S64945', 44094.0),
 ('S37349', 44164.0),
 ('S39693', 44122.0),
 ('S24745', 44157.0),
 ('S34185', 44115.0),
 ('S24041', 44122.0),
 ('S26179', 44129.0),
 ('S37420', 44178.0),
 ('S60076', 44178.0),
 ('S47891', 44115.0),
 ('S15073', 44087.0),
 ('S73165', 44164.0),
 ('S44234', 44136.0),
 ('S48994', 44171.0),
 ('S60012', 44178.0),
 ('S70046', 44087.0),
 ('S43787', 44108.0),
 ('S32652', 44108.0),
 ('S55331', 44094.0),
 ('S47207', 44171.0),
 ('S46727', 44150.0),
 ('S66883', 44136.0),
 ('S32494', 44101.0),
 ('S75479', 44171.0),
 ('S12988', 44115.0),
 ('S75449', 44136.0),
 ('S32141', 44143.0),
 ('S79421', 44115.0),
 ('S32164', 44087.0),
 ('S69882', 44108.0),
 ('S13511', 44157.0),
 ('S18314', 44101.0),
 ('S62189', 44101.0),
 ('S13530', 44143.0),
 ('S65658', 44150.0),
 ('S66858', 44178.0),
 ('S62486', 44136.0),
 ('S16090', 44087.0),
 ('S50748', 44087.0),
 ('S65099', 44108.0),
 ('S33483', 44108.0),
 ('S69072', 44122.0),
 ('S70334', 44157.0),
 ('S60511', 44087.0),
 ('S74609', 44087.0),
 ('S35366', 44136.0),
 ('S47085', 44094.0),
 ('S63167', 44073.0),
 ('S32021', 44115.0),
 ('S16334', 44087.0),
 ('S20384', 44157.0),
 ('S17861', 44129.0),
 ('S28724', 44171.0),
 ('S34094', 44108.0),
 ('S26065', 44101.0),
 ('S37032', 44087.0),
 ('S29818', 44136.0),
 ('S51222', 44080.0),
 ('S42130', 44136.0),
 ('S12661', 44136.0),
 ('S47103', 44171.0),
 ('S59590', 44094.0),
 ('S47684', 44136.0),
 ('S48153', 44122.0),
 ('S49195', 44178.0),
 ('S31480', 44129.0),
 ('S55993', 44080.0),
 ('S58937', 44122.0),
 ('S68672', 44080.0),
 ('S31003', 44080.0),
 ('S23854', 44171.0),
 ('S67202', 44178.0),
 ('S20832', 44129.0),
 ('S46339', 44136.0),
 ('S20145', 44101.0),
 ('S15221', 44136.0),
 ('S28977', 44143.0),
 ('S47384', 44129.0),
 ('S32428', 44164.0),
 ('S52630', 44101.0),
 ('S37066', 44094.0),
 ('S23683', 44080.0),
 ('S23779', 44094.0),
 ('S28563', 44136.0),
 ('S77430', 44143.0),
 ('S41953', 44122.0),
 ('S55978', 44129.0),
 ('S77839', 44164.0),
 ('S66136', 44136.0),
 ('S50643', 44087.0),
 ('S24212', 44080.0),
 ('S66377', 44157.0),
 ('S13292', 44178.0),
 ('S14051', 44080.0),
 ('S58557', 44157.0),
 ('S69749', 44150.0),
 ('S30510', 44136.0),
 ('S48121', 44171.0),
 ('S62100', 44129.0),
 ('S66086', 44094.0),
 ('S36092', 44164.0),
 ('S73848', 44073.0),
 ('S32773', 44101.0),
 ('S28076', 44164.0),
 ('S54168', 44122.0),
 ('S55366', 44101.0),
 ('S45736', 44136.0),
 ('S21750', 44122.0),
 ('S20746', 44178.0),
 ('S31917', 44150.0),
 ('S59071', 44080.0),
 ('S59081', 44136.0),
 ('S16090', 44136.0),
 ('S45722', 44129.0),
 ('S23595', 44171.0),
 ('S54927', 44171.0),
 ('S60511', 44136.0),
 ('S71821', 44115.0),
 ('S47938', 44157.0),
 ('S22054', 44115.0),
 ('S51417', 44108.0),
 ('S16334', 44136.0),
 ('S57106', 44115.0),
 ('S42525', 44073.0),
 ('S35935', 44108.0),
 ('S30402', 44094.0),
 ('S35744', 44129.0),
 ('S47740', 44073.0),
 ('S25261', 44136.0),
 ('S47414', 44087.0),
 ('S45343', 44094.0),
 ('S37713', 44122.0),
 ('S76720', 44136.0),
 ('S72027', 44178.0),
 ('S73082', 44150.0),
 ('S48928', 44108.0),
 ('S69648', 44143.0),
 ('S51079', 44157.0),
 ('S69208', 44143.0),
 ('S25009', 44178.0),
 ('S51270', 44094.0),
 ('S39858', 44136.0),
 ('S63767', 44129.0),
 ('S55993', 44129.0),
 ('S31480', 44178.0),
 ('S39001', 44150.0),
 ('S44264', 44143.0),
 ('S46743', 44108.0),
 ('S39987', 44143.0),
 ('S43529', 44122.0),
 ('S68672', 44129.0),
 ('S72970', 44129.0),
 ('S77808', 44164.0),
 ('S76695', 44136.0),
 ('S60027', 44143.0),
 ('S70138', 44101.0),
 ('S76159', 44178.0),
 ('S19904', 44094.0),
 ('S45151', 44101.0),
 ('S22411', 44108.0),
 ('S48768', 44087.0),
 ('S66589', 44108.0),
 ('S43436', 44073.0),
 ('S81072', 44115.0),
 ('S32204', 44101.0),
 ('S60616', 44157.0),
 ('S67480', 44108.0),
 ('S26310', 44080.0),
 ('S39693', 44157.0),
 ('S38185', 44108.0),
 ('S69059', 44108.0),
 ('S34030', 44129.0),
 ('S29997', 44157.0),
 ('S65341', 44101.0),
 ('S72214', 44171.0),
 ('S79063', 44080.0),
 ('S23683', 44129.0),
 ('S37951', 44136.0),
 ('S42946', 44164.0),
 ('S21573', 44171.0),
 ('S47566', 44122.0),
 ('S57614', 44143.0),
 ('S17178', 44080.0),
 ('S18463', 44150.0),
 ('S24104', 44080.0),
 ('S66883', 44171.0),
 ('S32141', 44178.0),
 ('S25754', 44101.0),
 ('S42903', 44087.0),
 ('S39176', 44094.0),
 ('S72495', 44143.0),
 ('S24090', 44143.0),
 ('S20988', 44164.0),
 ('S69135', 44108.0),
 ('S61037', 44101.0),
 ('S38983', 44094.0),
 ('S77973', 44178.0),
 ('S77058', 44108.0),
 ('S49501', 44080.0),
 ('S73033', 44171.0),
 ('S55097', 44171.0),
 ('S78244', 44108.0),
 ('S77950', 44087.0),
 ('S60117', 44129.0),
 ('S26673', 44178.0),
 ('S32671', 44171.0),
 ('S71350', 44150.0),
 ('S75956', 44122.0),
 ('S72118', 44178.0),
 ('S34726', 44157.0),
 ('S57926', 44122.0),
 ('S78640', 44073.0),
 ('S23957', 44080.0),
 ('S79765', 44129.0),
 ('S63167', 44108.0),
 ('S49247', 44150.0),
 ('S59446', 44115.0),
 ('S50265', 44150.0),
 ('S15447', 44164.0),
 ('S46353', 44101.0),
 ('S36388', 44178.0),
 ('S51417', 44157.0),
 ('S32367', 44080.0),
 ('S29269', 44108.0),
 ('S52441', 44073.0),
 ('S56999', 44150.0),
 ('S65326', 44080.0),
 ('S34094', 44143.0),
 ('S72723', 44087.0),
 ('S68443', 44115.0),
 ('S48617', 44171.0),
 ('S32894', 44157.0),
 ('S66660', 44080.0),
 ('S13699', 44108.0),
 ('S59590', 44129.0),
 ('S78523', 44150.0),
 ('S74111', 44073.0),
 ('S44655', 44073.0),
 ('S64976', 44087.0),
 ('S74958', 44178.0),
 ('S76322', 44150.0),
 ('S39150', 44122.0),
 ('S79349', 44115.0),
 ('S41050', 44150.0),
 ('S27492', 44101.0),
 ('S60627', 44129.0),
 ('S75001', 44157.0),
 ('S19662', 44080.0),
 ('S46443', 44129.0),
 ('S47384', 44164.0),
 ('S50311', 44157.0),
 ('S58348', 44101.0),
 ('S43857', 44171.0),
 ('S60581', 44129.0),
 ('S29803', 44122.0),
 ('S26355', 44171.0),
 ('S27166', 44101.0),
 ('S58187', 44094.0),
 ('S31515', 44157.0),
 ('S38402', 44094.0),
 ('S64080', 44150.0),
 ('S15602', 44122.0),
 ('S80689', 44094.0),
 ('S15295', 44136.0),
 ('S28563', 44171.0),
 ('S80160', 44108.0),
 ('S77430', 44178.0),
 ('S65717', 44136.0),
 ('S20054', 44143.0),
 ('S39199', 44080.0),
 ('S24104', 44129.0),
 ('S74058', 44108.0),
 ('S17370', 44101.0),
 ('S57046', 44178.0),
 ('S41005', 44115.0),
 ('S25754', 44150.0),
 ('S33610', 44150.0),
 ('S66086', 44129.0),
 ('S54074', 44101.0),
 ('S77474', 44094.0),
 ('S63466', 44108.0),
 ('S21402', 44094.0),
 ('S30213', 44178.0),
 ('S42768', 44171.0),
 ('S57076', 44136.0),
 ('S71778', 44136.0),
 ('S69853', 44136.0),
 ('S30827', 44073.0),
 ('S51721', 44157.0),
 ('S25964', 44164.0),
 ('S64622', 44164.0),
 ('S78640', 44122.0),
 ('S41820', 44108.0),
 ('S14185', 44087.0),
 ('S71821', 44150.0),
 ('S35912', 44115.0),
 ('S67781', 44115.0),
 ('S36685', 44143.0),
 ('S55694', 44115.0),
 ('S69542', 44171.0),
 ('S64529', 44136.0),
 ('S48031', 44108.0),
 ('S63304', 44178.0),
 ('S37921', 44164.0),
 ('S45210', 44171.0),
 ('S79106', 44164.0),
 ('S23725', 44080.0),
 ('S43242', 44143.0),
 ('S25261', 44171.0),
 ('S34274', 44080.0),
 ('S37713', 44157.0),
 ('S40143', 44108.0),
 ('S80126', 44108.0),
 ('S48506', 44080.0),
 ('S33199', 44101.0),
 ('S25574', 44171.0),
 ('S21671', 44073.0),
 ('S21318', 44087.0),
 ('S46842', 44115.0),
 ('S23564', 44150.0),
 ('S40514', 44178.0),
 ('S21267', 44171.0),
 ('S15765', 44087.0),
 ('S51612', 44171.0),
 ('S69148', 44080.0),
 ('S71794', 44073.0),
 ('S55969', 44087.0),
 ('S44358', 44094.0),
 ('S64846', 44101.0),
 ('S44264', 44178.0),
 ('S72970', 44164.0),
 ('S19631', 44073.0),
 ('S38430', 44150.0),
 ('S46831', 44087.0),
 ('S17853', 44122.0),
 ('S22411', 44143.0),
 ('S48768', 44122.0),
 ('S51994', 44178.0),
 ('S30536', 44080.0),
 ('S71305', 44073.0),
 ('S24745', 44164.0),
 ('S80380', 44094.0),
 ('S33509', 44171.0),
 ('S34030', 44164.0),
 ('S47179', 44143.0),
 ('S22348', 44073.0),
 ('S66765', 44136.0),
 ('S28534', 44101.0),
 ('S48332', 44094.0),
 ('S61304', 44080.0),
 ('S65341', 44136.0),
 ('S80089', 44164.0),
 ('S16669', 44101.0),
 ('S24904', 44164.0),
 ('S48994', 44178.0),
 ('S57670', 44171.0),
 ('S70046', 44094.0),
 ('S43787', 44115.0),
 ('S34158', 44122.0),
 ('S32652', 44115.0),
 ('S55331', 44101.0),
 ('S59389', 44136.0),
 ('S62981', 44073.0),
 ('S20909', 44122.0),
 ('S63897', 44080.0),
 ('S79421', 44122.0),
 ('S32581', 44087.0),
 ('S39176', 44129.0),
 ('S24090', 44178.0),
 ('S28256', 44164.0),
 ('S48356', 44101.0),
 ('S59965', 44101.0),
 ('S39268', 44136.0),
 ('S47069', 44143.0),
 ('S74552', 44073.0),
 ('S80940', 44101.0),
 ('S15612', 44136.0),
 ('S35507', 44150.0),
 ('S66109', 44115.0),
 ('S33402', 44143.0),
 ('S62486', 44143.0),
 ('S62066', 44108.0),
 ('S70621', 44171.0),
 ('S77950', 44122.0),
 ('S50748', 44094.0),
 ('S30827', 44122.0),
 ('S32636', 44108.0),
 ('S29248', 44101.0),
 ('S74609', 44094.0),
 ('S35366', 44143.0),
 ('S69603', 44136.0),
 ('S68560', 44094.0),
 ('S32021', 44122.0),
 ('S52441', 44108.0),
 ('S73885', 44073.0),
 ('S55904', 44080.0),
 ('S67781', 44164.0),
 ('S46156', 44129.0),
 ('S42888', 44164.0),
 ('S51062', 44101.0),
 ('S46888', 44178.0),
 ('S72925', 44178.0),
 ('S25286', 44136.0),
 ('S57289', 44080.0),
 ('S66717', 44094.0),
 ('S78483', 44115.0),
 ('S51222', 44087.0),
 ('S42130', 44143.0),
 ('S43321', 44101.0),
 ('S54225', 44178.0),
 ('S66660', 44115.0),
 ('S45858', 44122.0),
 ('S43384', 44073.0),
 ('S13699', 44143.0),
 ('S32747', 44080.0),
 ('S53530', 44087.0),
 ('S23268', 44073.0),
 ('S48153', 44129.0),
 ('S55969', 44136.0),
 ('S67316', 44150.0),
 ('S79909', 44129.0),
 ('S35773', 44094.0),
 ('S80145', 44136.0),
 ('S64517', 44122.0),
 ('S25990', 44087.0),
 ('S62582', 44087.0),
 ('S79349', 44150.0),
 ('S43331', 44087.0),
 ('S71374', 44157.0),
 ('S31951', 44143.0),
 ('S20832', 44136.0),
 ('S40094', 44080.0),
 ('S64945', 44087.0),
 ('S33688', 44080.0),
 ('S63150', 44164.0),
 ('S78854', 44150.0),
 ('S60581', 44164.0),
 ('S12524', 44115.0),
 ('S27484', 44178.0),
 ('S48851', 44073.0),
 ('S45932', 44115.0),
 ('S65230', 44143.0),
 ('S39538', 44080.0),
 ('S16900', 44115.0),
 ('S15073', 44080.0),
 ('S15602', 44157.0),
 ('S15295', 44171.0),
 ('S23779', 44101.0),
 ('S44234', 44129.0),
 ('S23621', 44073.0),
 ('S80689', 44129.0),
 ('S22315', 44094.0),
 ('S15197', 44094.0),
 ('S65717', 44171.0),
 ('S67819', 44080.0),
 ('S75116', 44171.0),
 ('S46727', 44143.0),
 ('S50643', 44094.0),
 ('S47929', 44115.0),
 ('S58557', 44164.0),
 ('S17370', 44136.0),
 ('S28917', 44080.0),
 ('S12634', 44150.0),
 ('S30962', 44171.0),
 ('S41005', 44150.0),
 ('S36092', 44171.0),
 ('S14339', 44164.0),
 ('S24657', 44178.0),
 ('S32581', 44136.0),
 ('S73848', 44080.0),
 ('S21555', 44164.0),
 ('S28076', 44171.0),
 ('S66732', 44101.0),
 ('S71778', 44171.0),
 ('S33085', 44122.0),
 ('S64143', 44087.0),
 ('S69733', 44122.0),
 ('S71117', 44150.0),
 ('S62066', 44157.0),
 ('S13378', 44073.0),
 ('S56806', 44171.0),
 ('S61845', 44164.0),
 ('S69072', 44115.0),
 ('S57963', 44087.0),
 ('S42960', 44136.0),
 ('S78453', 44164.0),
 ('S28110', 44178.0),
 ('S47085', 44087.0),
 ('S26876', 44157.0),
 ('S57490', 44094.0),
 ('S17818', 44171.0),
 ('S18138', 44073.0),
 ('S41793', 44101.0),
 ('S22054', 44122.0),
 ('S68560', 44143.0),
 ('S25046', 44122.0),
 ('S17861', 44122.0),
 ('S46156', 44178.0),
 ('S48031', 44143.0),
 ('S35935', 44115.0),
 ('S47740', 44080.0),
 ('S29818', 44129.0),
 ('S35806', 44178.0),
 ('S23725', 44115.0),
 ('S43242', 44178.0),
 ('S12661', 44129.0),
 ('S63536', 44178.0),
 ('S45343', 44101.0),
 ('S79545', 44073.0),
 ('S48506', 44115.0),
 ('S48904', 44115.0),
 ('S69648', 44150.0),
 ('S21318', 44122.0),
 ('S44245', 44108.0),
 ('S69208', 44150.0),
 ('S32957', 44129.0),
 ('S55708', 44108.0),
 ('S63767', 44136.0),
 ('S52682', 44150.0),
 ('S43529', 44129.0),
 ('S19631', 44108.0),
 ('S34017', 44178.0),
 ('S76695', 44143.0),
 ('S59341', 44087.0),
 ('S57439', 44164.0),
 ('S46831', 44122.0),
 ('S46185', 44129.0),
 ('S45151', 44108.0),
 ('S66589', 44115.0),
 ('S13035', 44087.0),
 ('S26385', 44108.0),
 ('S32204', 44108.0),
 ('S42116', 44101.0),
 ('S20145', 44094.0),
 ('S39693', 44164.0),
 ('S75085', 44094.0),
 ('S34185', 44157.0),
 ('S24041', 44164.0),
 ('S26179', 44171.0),
 ('S47891', 44157.0),
 ('S72150', 44108.0),
 ('S44234', 44178.0),
 ('S70046', 44129.0),
 ('S65372', 44108.0),
 ('S43787', 44150.0),
 ('S19741', 44136.0),
 ('S32652', 44150.0),
 ('S55331', 44136.0),
 ('S17178', 44087.0),
 ('S66883', 44178.0),
 ('S32494', 44143.0),
 ('S49219', 44101.0),
 ('S12988', 44157.0),
 ('S75449', 44178.0),
 ('S29313', 44101.0),
 ('S56356', 44094.0),
 ('S62100', 44122.0),
 ('S27915', 44171.0),
 ('S32164', 44129.0),
 ('S69882', 44150.0),
 ('S20299', 44094.0),
 ('S61037', 44108.0),
 ('S38983', 44101.0),
 ('S62189', 44143.0),
 ('S18314', 44143.0),
 ('S41265', 44080.0),
 ('S16090', 44129.0),
 ('S50748', 44129.0),
 ('S65099', 44150.0),
 ('S32671', 44178.0),
 ('S33483', 44150.0),
 ('S69072', 44164.0),
 ('S60511', 44129.0),
 ('S74609', 44129.0),
 ('S35366', 44178.0),
 ('S47085', 44136.0),

In [106]:
log['Logons'] = log['Logons'].apply(pd.to_numeric, args=('coerce',))
log.isnull().values.any()

True

In [107]:
log[log.isnull().any(axis=1)]

      Str Id Week Start Date  Logons
6551  S40514       8/30/2020     NaN

In [108]:
log['Logons'] = log['Logons'].replace(np.nan, 0)

In [109]:
met.dtypes

Str Id                   object
Dist Id                  object
Week No                   int64
Week Start Date          object
Fcst Sales              float64
Fcst Txns               float64
Fcst Items              float64
Fcst Hrs                float64
Fcst Labor Cost         float64
Sched Hrs               float64
Sched Labor Cost        float64
Act Sales               float64
Act Txns                float64
Act Items               float64
Act Hrs                 float64
Act Labor Cost          float64
Sched Shifts SYS        float64
Sched Efficiency SYS    float64
Sched Shifts MGR          int64
Sched Efficiency MGR    float64
Sched Edits               int64
dtype: object

In [110]:
final = met.merge(log, on=["Str Id", "Week Start Date"], how = "left")

In [111]:
final = final.merge(exc, on=["Str Id", "Week Start Date"], how = "left")

In [112]:
final.shape

(16513, 37)

In [114]:
final.to_csv(path_or_buf = "Merged Data (excluding store walks).csv", index = False)

# Final Dataset Fix

In [115]:
data = pd.read_csv("C:/Users/btjoa/OneDrive/Desktop/Babson/Grad/Field Project/Data/Not Final Dataset/Merged Data (excluding store walks).csv")

In [116]:
data.head(5)
data.shape

(16513, 37)

In [117]:
data.isnull().values.any()

False

In [118]:
data.dtypes

Str Id                               object
Dist Id                              object
Week No                               int64
Week Start Date                      object
Fcst Sales                          float64
Fcst Txns                           float64
Fcst Items                          float64
Fcst Hrs                            float64
Fcst Labor Cost                     float64
Sched Hrs                           float64
Sched Labor Cost                    float64
Act Sales                           float64
Act Txns                            float64
Act Items                           float64
Act Hrs                             float64
Act Labor Cost                      float64
Sched Shifts SYS                    float64
Sched Efficiency SYS                float64
Sched Shifts MGR                      int64
Sched Efficiency MGR                float64
Sched Edits                           int64
Logons                              float64
Weekly Project Planned                int64
Weekly Project Completed On-Time      int64
Weekly Project Completed Late         int64
Weekly Project Forced Closed          int64
Weekly Project open                   int64
Store Project Planned                 int64
Store Project Completed On-Time       int64
Store Project Completed Late          int64
Store Project Forced Closed           int64
Store Project open                    int64
Info Planned                          int64
Info Completed On-Time                int64
Info Completed Late                   int64
Info Forced Closed                    int64
Info open                             int64
dtype: object

In [119]:
data = data[data["Fcst Sales"]> 0]
data.shape

(16479, 37)

In [120]:
data = data[data["Act Items"]> 0]
data = data[data["Act Sales"]> 0]
data.head()

,Str Id,Dist Id,Week No,Week Start Date,Fcst Sales,Fcst Txns,Fcst Items,Fcst Hrs,Fcst Labor Cost,Sched Hrs,...,Store Project Planned,Store Project Completed On-Time,Store Project Completed Late,Store Project Forced Closed,Store Project open,Info Planned,Info Completed On-Time,Info Completed Late,Info Forced Closed,Info open
0,S12346,D145,36,8/30/2020,50844.75,1262.23,3276.21,360.99,5044.44,359.44,...,12,12,0,0,0,1,0,0,1,0
1,S12346,D145,37,9/6/2020,48643.08,1273.20,3232.74,349.32,4881.36,346.60,...,8,8,0,0,0,2,0,0,2,0
2,S12346,D145,38,9/13/2020,45623.62,1197.08,3170.45,343.10,4794.45,344.85,...,11,10,0,1,0,2,0,0,2,0
3,S12346,D145,39,9/20/2020,45713.01,1158.64,3096.34,343.10,4839.31,343.68,...,8,8,0,0,0,1,0,0,1,0
4,S12346,D145,40,9/27/2020,46866.73,1151.33,3022.24,343.10,4825.58,343.10,...,10,10,0,0,0,5,0,0,5,0

In [121]:
data = data[data["Fcst Hrs"]> 0]
data.shape

(16469, 37)

In [122]:
data = data[data["Act Txns"]>0]

In [124]:
data["Average Efficiency"] = (data["Sched Efficiency MGR"] + data["Sched Efficiency SYS"])/2

In [125]:
data[["Sched Efficiency MGR", "Sched Efficiency SYS"]].head()

   Sched Efficiency MGR  Sched Efficiency SYS
0                 0.700                 0.828
1                 0.688                 0.840
2                 0.681                 0.860
3                 0.715                 0.864
4                 0.782                 0.848

In [126]:
data.isnull().values.any()

False

- Items / labor cost
- Items per transaction
- Price per item 
- Sales / Labor Cost
- Sales per Labor Hour


- Sales per transaction


- Transactions / labor cost

In [127]:
data["Labor Cost per Item"] = round(data["Act Labor Cost"]/data["Act Items"],2)
data["Labor Cost per Item"].head()

0    1.50
1    1.61
2    1.95
3    1.48
4    1.63
Name: Labor Cost per Item, dtype: float64

In [128]:
data["Items per Txns"] = round(data["Act Items"]/data["Act Txns"], 2)
data["Items per Txns"].head()

0    2.56
1    2.51
2    2.47
3    2.40
4    2.47
Name: Items per Txns, dtype: float64

In [129]:
data["Price per Item"] = round(data["Act Sales"]/data["Act Items"], 2)
data["Price per Item"].head()

0    14.17
1    14.15
2    14.43
3    14.79
4    14.72
Name: Price per Item, dtype: float64

In [130]:
data["Sales per Labor Cost"] = round(data["Act Sales"]/data["Act Labor Cost"], 2)
data["Sales per Labor Cost"].head()

0     9.43
1     8.78
2     7.39
3    10.00
4     9.02
Name: Sales per Labor Cost, dtype: float64

In [131]:
data["Sales per Labor Hours"] = round(data["Act Sales"]/data["Act Hrs"], 2)
data["Sales per Labor Hours"].head()

0    132.00
1    126.26
2    117.11
3    140.52
4    126.63
Name: Sales per Labor Hours, dtype: float64

In [132]:
data["Sales per Txns"] = round(data["Act Sales"]/data["Act Txns"], 2)
data["Sales per Txns"].head()

0    36.33
1    35.55
2    35.60
3    35.52
4    36.40
Name: Sales per Txns, dtype: float64

In [133]:
data["Labor Cost per Txns"] = round(data["Act Labor Cost"]/data["Act Txns"], 2)
data["Labor Cost per Txns"].head()

0    3.85
1    4.05
2    4.81
3    3.55
4    4.04
Name: Labor Cost per Txns, dtype: float64

In [134]:
data.to_csv(path_or_buf = "C:/Users/btjoa/OneDrive/Desktop/Babson/Grad/Field Project/Data/Initial Drop/Merged Final.csv", index = False)

Executions OnTime:Late Ratio = 
[Executions Completed  On-Time]/[Executions Completed  Late]
Efficiency MGR - SYS
[Sched Efficiency MGR]-[Sched Efficiency SYS]
Logons/Executions Completed Late
Logons/Executions Completed On Time
Logons/Executions Forced Closed
Logons/Executions Planned
[Logons]/[Sched Edits]